

body {
    color:#FAEBD7;
    font-family:times;
    font-size:1EM;
    background:url(pics/pattern.jpg);
    background-attachment: fixed;
    background-repeat:repeat;
    margin: 0;
    padding: 0;
}

h1{margin:0;}

#container {
    width:960px;
    margin-right:auto;
    margin-left:auto;
}

#header {
    background-color:#292929;
    background:url(pics/DSC_0605.jpg);
    background-attachment:fixed;
    font-family:georgia;
    height:100px;
}


/* menyer */


p {color: #778899;}  
a:link    {color:white;}
a:visited {color:#FEFEFE;}
a:focus   {color:#778899;}
a:hover   {color:#FAEBD7;}
a:active  {background-color:#A9A9A9; color:black;}


#menu {
    font-family:tahoma;
    width:100%;
    background-color:#353535;
    height:40px;
}

#menuChoises {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

/* end menyer */

#start {
    background-color:#353535; 
    color:black;
    float:left;
    margin:5px;
}

#presentation {
   background-color:#353535; 
   color:black; 
   float:left;
   margin:5px;
}

#laborationer {
   background-color:#353535; 
   color:black; 
   float:left;
   margin:5px;
}

#kontakt {
   background-color:#353535; 
   color:black; 
   float:left;
   margin:5px;
}

.list {
    background-color:#353535;
    float:left;
    margin:5px;
}

#content {
    margin-right:10px;
    margin-left:180px;
}

#footer {
    background-color:#292929;
    height:100px;
}

/* Kontakt.html */

#tillbaka {
    color:#778899;
    margin-left:20px;
}
/* end Kontakt.html */


.bildTulpaner {
    float:right;
    margin-left:50px;
}

.picMe {
    float:left;
    margin-right:50px;
}










